{
    parser: 'bable-eslint',
    env : {
        es6: true,
        broswer: true
    },
    parserOptions: {
        ecmaversion: 6,
        sourceType: "module",
        ecmaFeatures : {
            jsx: true,
            experimentalObjectRestSpread: true

        }
    },
    extends: ["eslint:recommended", "plugin:react/recommended", "standard"],
    plugins: [
        "react"
    ]
}
